<!-- footer -->
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>COMPANY</h4>
          <ul>
            <li><a href="#">about us</a></li>
            <li><a href="#">our services</a></li>
            <li><a href="#">privcy policy</a></li>
            <li><a href="#">affiliate program</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>GET HELP</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">shipping</a></li>
            <li><a href="#">returns</a></li>
            <li><a href="#">order status</a></li>
            <li><a href="#">payment option</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>ONLINE SHOP</h4>
          <ul>
            <li><a href="#">watch</a></li>
            <li><a href="#">bag</a></li>
            <li><a href="#">shoes</a></li>
            <li><a href="#">dress</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>FOLLOW US</h4>
          <div class="social-links">
            <a href="#"><i class = "fab fa-facebook-f"></i></a>
            <a href="#"><i class = "fab fa-twitter"></i></a>
            <a href="#"><i class = "fab fa-instagram"></i></a>
            <a href="#"><i class = "fab fa-linkedin"></i></a>
        </div>
        </div>
      </div>
    </div>
  </footer>
  