.slider-container {
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    width: 100%;
    height: 500px; /* Adjust the height as needed */
    position: absolute;
    transition: left 0.5s;
    background-size: cover;
    background-position: center;
  }
  
  :host {
    position: relative;
  }
  